.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section-title h2 {
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 55px;
}
.add-form {
  width: 40%;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
  margin: 20px;
}

.add-form .edit {
  width: 90%;
  margin: 10px 0px;
}

.add-form form .form-group {
  margin-bottom: 25px;
}

.add-form form .form-group label {
  display: block;
  margin-bottom: 8px;
  color: #221638;
  font-weight: 700;
}

.form-control {
  height: 47px;
  width: 100%;
  border: 1px solid;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 1px 0 0 5px;
  font-size: 16px;
  font-weight: 400;
}

.form-control-textarea {
  width: 100%;
  border: 1px solid;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 8px 0 0 5px;
  font-size: 16px;
  font-weight: 400;
}

.due-date {
  width: 200px;
  margin-right: 10px;
}
.piority {
  width: 150px;
  height: 50px;
}

.default-btn {
  margin-top: 22px;
  border: none;
  display: block;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  background-color: #0bb828;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  border-radius: 5px;
  padding: 14.5px 30px;
  font-weight: 700;
  font-size: 16px;
}

.default-btn:hover {
  background-color: #221638;
  color: #ffffff;
  cursor: pointer;
}

.display-flex {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.display-flex-container {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.item-wrapper {
  margin-top: 30px;
  padding: 0 0 0 5px;
}

.item-record {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
}

.item-record.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.item-title {
  font-weight: 600;
  color: #666;
  padding: 1px 0 0 10px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}
.item-title .title {
  padding-left: 10px;
}

.item-content {
  padding: 1em 1.5em;
}
.btn {
  display: flex;
}
.btn button {
  border: none;
  display: block;
  text-align: center;
  overflow: hidden;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 30px;
  font-weight: 600;
  cursor: pointer;
}

.btn .detail {
  background-color: #1ebee6;
  margin-right: 10px;
}
.btn .remove {
  background-color: #e62b1e;
  margin-right: 20px;
}

.btn .done {
  background-color: #1e3ce6;
  margin: 10px 10px 0px 0px;
}
.btn .remove-select {
  background-color: #e62b1e;
  margin: 10px 10px 0px 0px;
}

.btn :hover {
  background-color: #221638;
  color: #ffffff;
  cursor: pointer;
}

.default-btn:hover {
  background-color: #221638;
  color: #ffffff;
  cursor: pointer;
}

.bulk-action {
  margin-top: 30px;
  height: 50px;
  width: 100%;
  border: 1px solid;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 5px;
  border: 1px solid;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.justify-content-center {
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .add-form {
    width: 90%;
  }
  .display-flex-container {
    display: inline;
  }
}
